<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/main.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <script src="https://apis.google.com/js/api:client.js"></script>
</head>
<body ng-app="directoryApp" id="MainWrap" ng-controller="ListingsController">
  <nav class="navbar fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <h1>Mentor Match </h1>
      </div>
      <div class = "nav navbar-nav navbar-right" id="gSignInWrapper">
          <button id = "logOutBtn" ng-click = "logout()">Log out</button>
      </div>
    </div>
  </nav>
  <div class="container" id="pageBody">
    <div class="alert alert-success" role="alert" id="welcomeMsg">
      Welcome to Mentor Match, a place to find other people to mentor or be mentored by. To get started, fill out your profile below.
      <div class="float-right">
        <i class="fas fa-times" id="closeMsg"></i>
      </div>
    </div>

    <div class="row bottom-buffer">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button id = "profileButton" class="btn bold salmon" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Profile <i class="fas fa-chevron-down"></i>
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" onmouseover="validForm()">
            <div class="card-body">
              <div class= "row bottom-buffer-large" for= ProfileForm>
                <div class="col-md-1"></div>
                <h2>Hello, {{detailedInfo.name.value}}</h2>
              </div>

              <form novalidate id = ProfileForm class="simple-form" >
                <div class = "container">
                  <div class = "row bottom-buffer">
                    <label class="col-md-6">Fill out profile attributes you would like us to use when finding new matches.
                    </label>
                    <div class = col-md-1></div>
                    <label class = "col-md-4">How important is it for your mentor/mentee to have similar traits? (0-unimportant, 5-very important)
                    </label>

                  </div>

                  <div class = "row bottom-buffer form-group">

                    <label for="mentorCheck" class="col-md-2 col-form-label bold">I want to be a mentor<span style="color:red;">*</span></label>
                    <select class="form-control col-md-4" id="mentorCheck" ng-model="detailedInfo.isMentor" required>
                      <option value="no" >no</option>
                      <option value = "yes">yes</option>
                    </select>
                  </div>

                  <div id = "allStrength">
                    <div class = "row bottom-buffer form-group" id="mentorStrength">
                      <!-- Strengths as a mentor selection -->
                      <div class = "col-md-1"></div>

                      <label for="mentorStrength" class=" col-form-label col-md-2">Strength</label>
                      <select class="form-control col-md-4" id="mentorStrength1check"  ng-model="detailedInfo.mentorStrength1.value">
                        <option value ="Strength1empty">--</option>
                        <option >Leadership</option>
                        <option >Public Speaking</option>
                        <option >Data Structures</option>
                        <option >Communication</option>
                        <option >Confidence</option>
                        <option >Writing</option>
                        <option >Entrepreneurship</option>
                        <option >Interviewing</option>
                        <option >Time Management</option>
                        <option >Sales</option>
                        <option >Marketing</option>
                        <option >Team Building</option>
                        <option >Teamwork</option>
                        <option >Physical Fitness</option>
                        <option >Graphic Design</option>
                        <option >Object Oriented Programming</option>
                        <option value="other">Other</option>
                      </select>

                      <div class = "col-md-1"></div>
                      <!-- refer to this for ng-model for radios
                      https://docs.angularjs.org/api/ng/input/input%5Bradio%5D -->
                      <div class="form-check form-check-inline " >
                        <input class="form-check-input" type="radio" ng-model="detailedInfo.mentorStrength1.score" id="professionRadio0" value="0">
                        <label class="form-check-label" for="professionRadio0"></label>0</label>
                      </div>
                      <div class="form-check form-check-inline " >
                        <input class="form-check-input" type="radio" ng-model="detailedInfo.mentorStrength1.score" id="professionRadio1" value="1">
                        <label class="form-check-label" for="professionRadio1">1</label>
                      </div>
                      <div class="form-check form-check-inline " >
                        <input class="form-check-input" type="radio" ng-model="detailedInfo.mentorStrength1.score" id="professionRadio2" value="2">
                        <label class="form-check-label" for="professionRadio2">2</label>
                      </div>
                      <div class="form-check form-check-inline " >
                        <input class="form-check-input" type="radio" ng-model="detailedInfo.mentorStrength1.score" id="professionRadio3" value="3">
                        <label class="form-check-label" for="professionRadio3">3</label>
                      </div>
                      <div class="form-check form-check-inline " >
                        <input class="form-check-input" type="radio" ng-model="detailedInfo.mentorStrength1.score" id="professionRadio4" value="4">
                        <label class="form-check-label" for="professionRadio4">4</label>
                      </div>
                      <div class="form-check form-check-inline " >
                        <input class="form-check-input" type="radio" ng-model="detailedInfo.mentorStrength1.score" id="professionRadio5" value="5">
                        <label class="form-check-label" for="professionRadio5">5</label>
                      </div>
                    </div>

                    <div class="row bottom-buffer" id = "strength1other">
                      <div class="col-md-3"></div>
                      <input type="text" ng-model = "strength1otherFill" id="strength1other" class="form-control col-md-3" placeholder="Other">
                    </div>


                    <div id=strength2>
                      <div class = "row bottom-buffer form-group" id="mentorStrength2">
                        <!-- 2nd Strength as a mentor selection -->
                        <div class = "col-md-1"></div>

                        <label for="mentorStrength2" class="col-md-2 col-form-label">Strength</label>
                        <select class="form-control col-md-4" id="mentorStrength2check"  ng-model="detailedInfo.mentorStrength2.value">
                          <option value ="Strength2empty">--</option>
                          <option >Leadership</option>
                          <option >Public Speaking</option>
                          <option >Data Structures</option>
                          <option >Communication</option>
                          <option >Confidence</option>
                          <option >Writing</option>
                          <option >Entrepreneurship</option>
                          <option >Interviewing</option>
                          <option >Time Management</option>
                          <option >Sales</option>
                          <option >Marketing</option>
                          <option >Team Building</option>
                          <option >Teamwork</option>
                          <option >Physical Fitness</option>
                          <option >Graphic Design</option>
                          <option >Object Oriented Programming</option>
                          <option value="other">Other</option>
                        </select>

                        <div class = "col-md-1"></div>
                        <!-- refer to this for ng-model for radios
                        https://docs.angularjs.org/api/ng/input/input%5Bradio%5D -->
                        <div class="form-check form-check-inline " >
                          <input class="form-check-input" type="radio" ng-model="detailedInfo.mentorStrength2.score" id="professionRadio0" value="0">
                          <label class="form-check-label" for="professionRadio0"></label>0</label>
                        </div>
                        <div class="form-check form-check-inline " >
                          <input class="form-check-input" type="radio" ng-model="detailedInfo.mentorStrength2.score" id="professionRadio1" value="1">
                          <label class="form-check-label" for="professionRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline " >
                          <input class="form-check-input" type="radio" ng-model="detailedInfo.mentorStrength2.score" id="professionRadio2" value="2">
                          <label class="form-check-label" for="professionRadio2">2</label>
                        </div>
                        <div class="form-check form-check-inline " >
                          <input class="form-check-input" type="radio" ng-model="detailedInfo.mentorStrength2.score" id="professionRadio3" value="3">
                          <label class="form-check-label" for="professionRadio3">3</label>
                        </div>
                        <div class="form-check form-check-inline " >
                          <input class="form-check-input" type="radio" ng-model="detailedInfo.mentorStrength2.score" id="professionRadio4" value="4">
                          <label class="form-check-label" for="professionRadio4">4</label>
                        </div>
                        <div class="form-check form-check-inline " >
                          <input class="form-check-input" type="radio" ng-model="detailedInfo.mentorStrength2.score" id="professionRadio5" value="5">
                          <label class="form-check-label" for="professionRadio5">5</label>
                        </div>
                      </div>

                      <div class="row bottom-buffer" id = "strength2other">
                        <div class="col-md-3"></div>
                        <input type="text" ng-model = "strength2otherFill" id="strength2other" class="form-control col-md-3" placeholder="Other">
                      </div>


                      <div class = "row bottom-buffer form-group" id="mentorStrength3">
                        <!-- 3nd Strength as a mentor selection -->
                        <div class = "col-md-1"></div>

                        <label for="mentorStrength3" class="col-md-2 col-form-label">Strength</label>
                        <select class="form-control col-md-4" id="mentorStrength3check" ng-model="detailedInfo.mentorStrength3.value">
                          <option value ="Strength3empty">--</option>
                          <option >Leadership</option>
                          <option >Public Speaking</option>
                          <option >Data Structures</option>
                          <option >Communication</option>
                          <option >Confidence</option>
                          <option >Writing</option>
                          <option >Entrepreneurship</option>
                          <option >Interviewing</option>
                          <option >Time Management</option>
                          <option >Sales</option>
                          <option >Marketing</option>
                          <option >Team Building</option>
                          <option >Teamwork</option>
                          <option >Physical Fitness</option>
                          <option >Graphic Design</option>
                          <option >Object Oriented Programming</option>
                          <option value="other">Other</option>
                        </select>

                        <div class = "col-md-1"></div>
                        <!-- refer to this for ng-model for radios
                        https://docs.angularjs.org/api/ng/input/input%5Bradio%5D -->
                        <div class="form-check form-check-inline " >
                          <input class="form-check-input" type="radio" ng-model="detailedInfo.mentorStrength3.score" id="professionRadio0" value="0">
                          <label class="form-check-label" for="professionRadio0"></label>0</label>
                        </div>
                        <div class="form-check form-check-inline " >
                          <input class="form-check-input" type="radio" ng-model="detailedInfo.mentorStrength3.score" id="professionRadio1" value="1">
                          <label class="form-check-label" for="professionRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline " >
                          <input class="form-check-input" type="radio" ng-model="detailedInfo.mentorStrength3.score" id="professionRadio2" value="2">
                          <label class="form-check-label" for="professionRadio2">2</label>
                        </div>
                        <div class="form-check form-check-inline " >
                          <input class="form-check-input" type="radio" ng-model="detailedInfo.mentorStrength3.score" id="professionRadio3" value="3">
                          <label class="form-check-label" for="professionRadio3">3</label>
                        </div>
                        <div class="form-check form-check-inline " >
                          <input class="form-check-input" type="radio" ng-model="detailedInfo.mentorStrength3.score" id="professionRadio4" value="4">
                          <label class="form-check-label" for="professionRadio4">4</label>
                        </div>
                        <div class="form-check form-check-inline " >
                          <input class="form-check-input" type="radio" ng-model="detailedInfo.mentorStrength3.score" id="professionRadio5" value="5">
                          <label class="form-check-label" for="professionRadio5">5</label>
                        </div>
                      </div>


                      <div class="row bottom-buffer" id = "strength3other">
                        <div class="col-md-3"></div>
                        <input type="text" ng-model = "strength3otherFill" id="strength3other" class="form-control col-md-3" placeholder="Other">
                      </div>



                    </div>
                  </div>


                  <div class = "row bottom-buffer form-group">

                    <label for="menteeCheck" class="col-md-2 col-form-label bold">I want to be a mentee<span style="color:red;">*</span></label>
                    <select  class="form-control col-md-4" id="menteeCheck" ng-model="detailedInfo.isMentee" placeholder="select...">
                      <option value = "no">no</option>
                      <option value = "yes">yes</option>
                    </select>



                  </div>
                  <div id = "allGoal">

                    <div class = "row bottom-buffer form-group" id="menteeGoal">
                      <!-- Strengths as a mentee selection -->
                      <div class = "col-md-1"></div>

                      <label for="menteeGoal" class=" col-form-label col-md-2">Goal</label>
                      <select class="form-control col-md-4" id="menteeGoal1check"  ng-model="detailedInfo.menteeGoal1.value">
                        <option value ="Goal1empty">--</option>
                        <option >Leadership</option>
                        <option >Public Speaking</option>
                        <option >Data Structures</option>
                        <option >Communication</option>
                        <option >Confidence</option>
                        <option >Writing</option>
                        <option >Entrepreneurship</option>
                        <option >Interviewing</option>
                        <option >Time Management</option>
                        <option >Sales</option>
                        <option >Marketing</option>
                        <option >Team Building</option>
                        <option >Teamwork</option>
                        <option >Physical Fitness</option>
                        <option >Graphic Design</option>
                        <option >Object Oriented Programming</option>
                        <option value="other">Other</option>
                      </select>

                      <div class = "col-md-1"></div>
                      <!-- refer to this for ng-model for radios
                      https://docs.angularjs.org/api/ng/input/input%5Bradio%5D -->
                      <div class="form-check form-check-inline " >
                        <input class="form-check-input" type="radio"  ng-model="detailedInfo.menteeGoal1.score" id="professionRadio0" value="0">
                        <label class="form-check-label" for="professionRadio0"></label>0</label>
                      </div>
                      <div class="form-check form-check-inline " >
                        <input class="form-check-input" type="radio"  ng-model="detailedInfo.menteeGoal1.score" id="professionRadio0" value="1">
                        <label class="form-check-label" for="professionRadio1">1</label>
                      </div>
                      <div class="form-check form-check-inline " >
                        <input class="form-check-input" type="radio"  ng-model="detailedInfo.menteeGoal1.score" id="professionRadio0" value="2">
                        <label class="form-check-label" for="professionRadio2">2</label>
                      </div>
                      <div class="form-check form-check-inline " >
                        <input class="form-check-input" type="radio"  ng-model="detailedInfo.menteeGoal1.score" id="professionRadio0" value="3">
                        <label class="form-check-label" for="professionRadio3">3</label>
                      </div>
                      <div class="form-check form-check-inline " >
                        <input class="form-check-input" type="radio"  ng-model="detailedInfo.menteeGoal1.score" id="professionRadio0" value="4">
                        <label class="form-check-label" for="professionRadio4">4</label>
                      </div>
                      <div class="form-check form-check-inline " >
                        <input class="form-check-input" type="radio" ng-model="detailedInfo.menteeGoal1.score" id="professionRadio0" value="5">
                        <label class="form-check-label" for="professionRadio5">5</label>
                      </div>
                    </div>


                    <div class="row bottom-buffer" id = "goal1other">
                      <div class="col-md-3"></div>
                      <input type="text" ng-model = "goal1otherFill" id="goal1other" class="form-control col-md-3" placeholder="Other">
                    </div>


                    <div id=goal2>
                      <div class = "row bottom-buffer form-group" id="menteeGoal2">
                        <!-- 2nd Strength as a mentor selection -->
                        <div class = "col-md-1"></div>

                        <label for="menteeGoal2" class="col-md-2 col-form-label">Goal</label>
                        <select class="form-control col-md-4" id="menteeGoal2check"  ng-model="detailedInfo.menteeGoal2.value">
                          <option value ="Goal2empty">--</option>
                          <option >Leadership</option>
                          <option >Public Speaking</option>
                          <option >Data Structures</option>
                          <option >Communication</option>
                          <option >Confidence</option>
                          <option >Writing</option>
                          <option >Entrepreneurship</option>
                          <option >Interviewing</option>
                          <option >Time Management</option>
                          <option >Sales</option>
                          <option >Marketing</option>
                          <option >Team Building</option>
                          <option >Teamwork</option>
                          <option >Physical Fitness</option>
                          <option >Graphic Design</option>
                          <option >Object Oriented Programming</option>
                          <option value="other">Other</option>
                        </select>

                        <div class = "col-md-1"></div>
                        <!-- refer to this for ng-model for radios
                        https://docs.angularjs.org/api/ng/input/input%5Bradio%5D -->
                        <div class="form-check form-check-inline " >
                          <input class="form-check-input" type="radio" ng-model="detailedInfo.menteeGoal2.score" id="professionRadio0" value="0">
                          <label class="form-check-label" for="professionRadio0"></label>0</label>
                        </div>
                        <div class="form-check form-check-inline " >
                          <input class="form-check-input" type="radio" ng-model="detailedInfo.menteeGoal2.score" id="professionRadio1" value="1">
                          <label class="form-check-label" for="professionRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline " >
                          <input class="form-check-input" type="radio"  ng-model="detailedInfo.menteeGoal2.score" id="professionRadio2" value="2">
                          <label class="form-check-label" for="professionRadio2">2</label>
                        </div>
                        <div class="form-check form-check-inline " >
                          <input class="form-check-input" type="radio" ng-model="detailedInfo.menteeGoal2.score" id="professionRadio3" value="3">
                          <label class="form-check-label" for="professionRadio3">3</label>
                        </div>
                        <div class="form-check form-check-inline " >
                          <input class="form-check-input" type="radio"  ng-model="detailedInfo.menteeGoal2.score" id="professionRadio4" value="4">
                          <label class="form-check-label" for="professionRadio4">4</label>
                        </div>
                        <div class="form-check form-check-inline " >
                          <input class="form-check-input" type="radio" ng-model="detailedInfo.menteeGoal2.score" id="professionRadio5" value="5">
                          <label class="form-check-label" for="professionRadio5">5</label>
                        </div>
                      </div>


                      <div class="row bottom-buffer" id = "goal2other">
                        <div class="col-md-3"></div>
                        <input type="text" ng-model = "goal2otherFill" id="goal2other" class="form-control col-md-3" placeholder="Other">
                      </div>

                      <div class = "row bottom-buffer form-group" id="menteeGoal3">
                        <!-- 3nd Strength as a mentor selection -->
                        <div class = "col-md-1"></div>

                        <label for="menteeGoal3" class="col-md-2 col-form-label">Goal</label>
                        <select class="form-control col-md-4" id="menteeGoal3check" ng-model="detailedInfo.menteeGoal3.value">
                          <option value ="Strength3empty">--</option>
                          <option >Leadership</option>
                          <option >Public Speaking</option>
                          <option >Data Structures</option>
                          <option >Communication</option>
                          <option >Confidence</option>
                          <option >Writing</option>
                          <option >Entrepreneurship</option>
                          <option >Interviewing</option>
                          <option >Time Management</option>
                          <option >Sales</option>
                          <option >Marketing</option>
                          <option >Team Building</option>
                          <option >Teamwork</option>
                          <option >Physical Fitness</option>
                          <option >Graphic Design</option>
                          <option >Object Oriented Programming</option>
                          <option value="other">Other</option>
                        </select>

                        <div class = "col-md-1"></div>
                        <!-- refer to this for ng-model for radios
                        https://docs.angularjs.org/api/ng/input/input%5Bradio%5D -->
                        <div class="form-check form-check-inline " >
                          <input class="form-check-input" type="radio" ng-model="detailedInfo.menteeGoal3.score" id="professionRadio0" value="0">
                          <label class="form-check-label" for="professionRadio0"></label>0</label>
                        </div>
                        <div class="form-check form-check-inline " >
                          <input class="form-check-input" type="radio" ng-model="detailedInfo.menteeGoal3.score" id="professionRadio1" value="1">
                          <label class="form-check-label" for="professionRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline " >
                          <input class="form-check-input" type="radio" ng-model="detailedInfo.menteeGoal3.score" id="professionRadio2" value="2">
                          <label class="form-check-label" for="professionRadio2">2</label>
                        </div>
                        <div class="form-check form-check-inline " >
                          <input class="form-check-input" type="radio" ng-model="detailedInfo.menteeGoal3.score" id="professionRadio3" value="3">
                          <label class="form-check-label" for="professionRadio3">3</label>
                        </div>
                        <div class="form-check form-check-inline " >
                          <input class="form-check-input" type="radio" ng-model="detailedInfo.menteeGoal3.score" id="professionRadio4" value="4">
                          <label class="form-check-label" for="professionRadio4">4</label>
                        </div>
                        <div class="form-check form-check-inline " >
                          <input class="form-check-input" type="radio" ng-model="detailedInfo.menteeGoal3.score" id="professionRadio5" value="5">
                          <label class="form-check-label" for="professionRadio5">5</label>
                        </div>
                      </div>


                      <div class="row bottom-buffer" id = "goal3other">
                        <div class="col-md-3"></div>
                        <input type="text" ng-model = "goal3otherFill" id="goal3other" class="form-control col-md-3" placeholder="Other">
                      </div>



                    </div>
                  </div>

                  <div class = "row bottom-buffer">
                    <!-- Profession selection -->
                    <label for="JobSelect" class="col-md-2 col-form-label">Profession</label>
                    <select class="form-control col-md-4" id="JobSelect" ng-model="detailedInfo.industry.value">
                      <option>--</option>
                      <option>Aerospace</option>
                      <option>Agriculture</option>
                      <option>Computer</option>
                      <option>Chemical</option>
                      <option>Computer</option>
                      <option>Construction</option>
                      <option>Defense</option>
                      <option>Education</option>
                      <option>Energy</option>
                      <option>Entertainment</option>
                      <option>Financial Services</option>
                      <option>Food Services</option>
                      <option>Healthcare</option>
                      <option>Hospitality</option>
                      <option>Information</option>
                      <option>Manufacturing</option>
                      <option>Mass Media</option>
                      <option>Telecomunication</option>
                      <option>Transportation</option>
                      <option>Water</option>
                      <option value="other">Other</option>

                    </select>

                    <div class = "col-md-1"></div>
                    <!-- refer to this for ng-model for radios
                    https://docs.angularjs.org/api/ng/input/input%5Bradio%5D -->
                    <div class="form-check form-check-inline " >
                      <input class="form-check-input" type="radio" ng-model="detailedInfo.industry.score" id="professionRadio0" value="0">
                      <label class="form-check-label" for="professionRadio0"></label>0</label>
                    </div>
                    <div class="form-check form-check-inline " >
                      <input class="form-check-input" type="radio" ng-model="detailedInfo.industry.score" id="professionRadio1" value="1">
                      <label class="form-check-label" for="professionRadio1">1</label>
                    </div>
                    <div class="form-check form-check-inline " >
                      <input class="form-check-input" type="radio" ng-model="detailedInfo.industry.score" id="professionRadio2" value="2">
                      <label class="form-check-label" for="professionRadio2">2</label>
                    </div>
                    <div class="form-check form-check-inline " >
                      <input class="form-check-input" type="radio" ng-model="detailedInfo.industry.score" id="professionRadio3" value="3">
                      <label class="form-check-label" for="professionRadio3">3</label>
                    </div>
                    <div class="form-check form-check-inline " >
                      <input class="form-check-input" type="radio" ng-model="detailedInfo.industry.score" id="professionRadio4" value="4">
                      <label class="form-check-label" for="professionRadio4">4</label>
                    </div>
                    <div class="form-check form-check-inline " >
                      <input class="form-check-input" type="radio" ng-model="detailedInfo.industry.score" id="professionRadio5" value="5">
                      <label class="form-check-label" for="professionRadio5">5</label>
                    </div>
                  </div>

                  <div class="row bottom-buffer" id = "jobOther">
                    <div class="col-md-2"></div>
                    <input type="text" ng-model = "jobOtherFill" id="jobOther" class="form-control col-md-3" placeholder="Other">
                  </div>

                  <div class = "row bottom-buffer">
                    <!-- Gender selection -->
                    <label for="GenderSelect" class="col-md-2 col-form-label">Gender</label>
                    <select class="form-control col-md-4" id="GenderSelect" ng-model="detailedInfo.gender.value">
                      <option>--</option>
                      <option>Female</option>
                      <option>Male</option>
                      <option>Non-binary</option>
                      <option value="other">Other</option>
                    </select>

                    <div class = "col-md-1"></div>
                    <!-- refer to this for ng-model for radios
                    https://docs.angularjs.org/api/ng/input/input%5Bradio%5D -->
                    <div class="form-check form-check-inline " >
                      <input class="form-check-input" type="radio" ng-model="detailedInfo.gender.score" id="GenderRadio0" value="0">
                      <label class="form-check-label" for="professionRadio0"></label>0</label>
                    </div>
                    <div class="form-check form-check-inline " >
                      <input class="form-check-input" type="radio" ng-model="detailedInfo.gender.score" id="GenderRadio1" value="1">
                      <label class="form-check-label" for="professionRadio1">1</label>
                    </div>
                    <div class="form-check form-check-inline " >
                      <input class="form-check-input" type="radio" ng-model="detailedInfo.gender.score" id="GenderRadio2" value="2">
                      <label class="form-check-label" for="professionRadio2">2</label>
                    </div>
                    <div class="form-check form-check-inline " >
                      <input class="form-check-input" type="radio" ng-model="detailedInfo.gender.score" id="GenderRadio3" value="3">
                      <label class="form-check-label" for="professionRadio3">3</label>
                    </div>
                    <div class="form-check form-check-inline " >
                      <input class="form-check-input" type="radio" ng-model="detailedInfo.gender.score" id="GenderRadio4" value="4">
                      <label class="form-check-label" for="professionRadio4">4</label>
                    </div>
                    <div class="form-check form-check-inline " >
                      <input class="form-check-input" type="radio" ng-model="detailedInfo.gender.score" id="GenderRadio5" value="5">
                      <label class="form-check-label" for="professionRadio5">5</label>
                    </div>
                  </div>

                  <div class="row bottom-buffer" id = "genderOther">
                    <div class="col-md-2"></div>
                    <input type="text" ng-model = "genderOtherFill" id="genderOther" class="form-control col-md-3" placeholder="Other">
                  </div>




                  <div class = "row bottom-buffer">
                    <!-- Sexual Orientation selection -->
                    <label for="SexSelect" class="col-md-2 col-form-label">Sexual Orientation</label>
                    <select class="form-control col-md-4" id="SexSelect" ng-model="detailedInfo.sexualOrientation.value">
                      <option>--</option>
                      <option>Lesbian</option>
                      <option>Gay</option>
                      <option>Straight</option>
                      <option>Bi-Sexual</option>
                      <option value="other">Other</option>
                    </select>

                    <div class = "col-md-1"></div>
                    <!-- refer to this for ng-model for radios
                    https://docs.angularjs.org/api/ng/input/input%5Bradio%5D -->
                    <div class="form-check form-check-inline " >
                      <input class="form-check-input" type="radio" ng-model="detailedInfo.sexualOrientation.score" id="GenderRadio0" value="0">
                      <label class="form-check-label" for="professionRadio0"></label>0</label>
                    </div>
                    <div class="form-check form-check-inline " >
                      <input class="form-check-input" type="radio" ng-model="detailedInfo.sexualOrientation.score" id="GenderRadio1" value="1">
                      <label class="form-check-label" for="professionRadio1">1</label>
                    </div>
                    <div class="form-check form-check-inline " >
                      <input class="form-check-input" type="radio" ng-model="detailedInfo.sexualOrientation.score" id="GenderRadio2" value="2">
                      <label class="form-check-label" for="professionRadio2">2</label>
                    </div>
                    <div class="form-check form-check-inline " >
                      <input class="form-check-input" type="radio" ng-model="detailedInfo.sexualOrientation.score" id="GenderRadio3" value="3">
                      <label class="form-check-label" for="professionRadio3">3</label>
                    </div>
                    <div class="form-check form-check-inline " >
                      <input class="form-check-input" type="radio" ng-model="detailedInfo.sexualOrientation.score" id="GenderRadio4" value="4">
                      <label class="form-check-label" for="professionRadio4">4</label>
                    </div>
                    <div class="form-check form-check-inline " >
                      <input class="form-check-input" type="radio" ng-model="detailedInfo.sexualOrientation.score" id="GenderRadio5" value="5">
                      <label class="form-check-label" for="professionRadio5">5</label>
                    </div>
                  </div>

                  <div class="row bottom-buffer" id = "sexOther">
                    <div class="col-md-2"></div>
                    <input type="text" ng-model = "sexOtherFill" id="sexOther" class="form-control col-md-3" placeholder="Other">
                  </div>

                  <div class = "row bottom-buffer">
                    <!-- Ethnicity selection -->
                    <label for="EthnicitySelect" class="col-md-2 col-form-label">Ethnicity</label>
                    <select class="form-control col-md-4" id="EthnicitySelect" ng-model="detailedInfo.ethnicity.value">
                      <option>--</option>
                      <option>American Indian or Alaska Native</option>
                      <option>Asian</option>
                      <option>Black or African American</option>
                      <option>Hispanic or Latino</option>
                      <option>Native Hawaiian or Other Pacific Islander</option>
                      <option>White</option>
                      <option value="other">Other</option>
                    </select>

                    <div class = "col-md-1"></div>
                    <!-- refer to this for ng-model for radios
                    https://docs.angularjs.org/api/ng/input/input%5Bradio%5D -->
                    <div class="form-check form-check-inline " >
                      <input class="form-check-input" type="radio" ng-model="detailedInfo.ethnicity.score" id="RaceRadio0" value="0">
                      <label class="form-check-label" for="professionRadio0"></label>0</label>
                    </div>
                    <div class="form-check form-check-inline " >
                      <input class="form-check-input" type="radio" ng-model="detailedInfo.ethnicity.score" id="RaceRadio1" value="1">
                      <label class="form-check-label" for="professionRadio1">1</label>
                    </div>
                    <div class="form-check form-check-inline " >
                      <input class="form-check-input" type="radio" ng-model="detailedInfo.ethnicity.score" id="RaceRadio2" value="2">
                      <label class="form-check-label" for="professionRadio2">2</label>
                    </div>
                    <div class="form-check form-check-inline " >
                      <input class="form-check-input" type="radio" ng-model="detailedInfo.ethnicity.score" id="RaceRadio3" value="3">
                      <label class="form-check-label" for="professionRadio3">3</label>
                    </div>
                    <div class="form-check form-check-inline " >
                      <input class="form-check-input" type="radio" ng-model="detailedInfo.ethnicity.score" id="RaceRadio4" value="4">
                      <label class="form-check-label" for="professionRadio4">4</label>
                    </div>
                    <div class="form-check form-check-inline " >
                      <input class="form-check-input" type="radio" ng-model="detailedInfo.ethnicity.score" id="RaceRadio5" value="5">
                      <label class="form-check-label" for="professionRadio5">5</label>
                    </div>
                  </div>

                  <div class="row bottom-buffer" id = "ethnicityOther">
                    <div class="col-md-2"></div>
                    <input type="text" ng-model = "ethnicityOtherFill" id="ethnicityOther" class="form-control col-md-3" placeholder="Other">
                  </div>


                  <div class="row bottom-buffer">
                    <label class ="col-md-2" for = "LanguageSelect">Language</label>
                    <select class="form-control col-md-4" id="LanguageSelect" ng-model="detailedInfo.language.value">
                      <option>--</option>
                      <option>English</option>
                      <option>Spanish</option>
                      <option>Hindi</option>
                      <option>Mandarin</option>
                      <option>French</option>
                      <option>Arabic</option>
                      <option value="other">Other</option>
                    </select>


                  </div>
                  <div class="row bottom-buffer" id = "langOther">
                    <div class="col-md-2"></div>
                    <input type="text" ng-model = "langOtherFill" id="langOther" class="form-control col-md-3" placeholder="Other">
                  </div>

                  <div id="location">
                    <div class="row bottom-buffer bold">Location</div>
                    <div class = "row bottom-buffer">
                      <label for="CountryInput" class="col-md-2 col-form-label">Country</label>

                      <input type="text" ng-model = "detailedInfo.location.country" id="CountryInput" class="form-control col-md-4" placeholder="Country">
                      <div class = col-md-1></div>
                      <div class="form-check form-check-inline " >
                        <input class="form-check-input" type="radio" ng-model="detailedInfo.location.score" id="professionRadio0" value="0">
                        <label class="form-check-label" for="professionRadio0"></label>0</label>
                      </div>
                      <div class="form-check form-check-inline " >
                        <input class="form-check-input" type="radio" ng-model="detailedInfo.location.score" id="professionRadio1" value="1">
                        <label class="form-check-label" for="professionRadio1">1</label>
                      </div>
                      <div class="form-check form-check-inline " >
                        <input class="form-check-input" type="radio" ng-model="detailedInfo.location.score" id="professionRadio2" value="2">
                        <label class="form-check-label" for="professionRadio2">2</label>
                      </div>
                      <div class="form-check form-check-inline " >
                        <input class="form-check-input" type="radio" ng-model="detailedInfo.location.score" id="professionRadio3" value="3">
                        <label class="form-check-label" for="professionRadio3">3</label>
                      </div>
                      <div class="form-check form-check-inline " >
                        <input class="form-check-input" type="radio" ng-model="detailedInfo.location.score" id="professionRadio4" value="4">
                        <label class="form-check-label" for="professionRadio4">4</label>
                      </div>
                      <div class="form-check form-check-inline " >
                        <input class="form-check-input" type="radio" ng-model="detailedInfo.location.score" id="professionRadio5" value="5">
                        <label class="form-check-label" for="professionRadio5">5</label>
                      </div>

                    </div>
                    <div class = "row bottom-buffer">
                      <label for="CountryInput" class="col-md-2 col-form-label">State/Province</label>

                      <input type="text" ng-model = "detailedInfo.location.state" id="StateInput" class="form-control col-md-4" placeholder="State/Province">
                      <div class = col-md-1></div>


                    </div>
                    <div class = "row bottom-buffer-large">
                      <label for="CountryInput" class="col-md-2 col-form-label">City</label>

                      <input type="text" ng-model = "detailedInfo.location.city" id="CityInput" class="form-control col-md-4" placeholder="City">
                      <div class = col-md-1></div>


                    </div>
                  </div>





                  <div class = "row bottom-buffer" id = "bioBlock">

                    <label class="bottom-buffer col-md-2 col-form-label bold">Bio</label>

                    <textarea class="form-control col-md-4" id="bioText" ng-model="detailedInfo.bio" rows="3"></textarea>
                  </div>

                  <div class="alert alert-danger" role="alert" id="submitErr">
                    Please choose to be either a mentor or mentee.
                  </div>
                  <div class="alert alert-danger" role="alert" id="submitErr2">
                    Please choose at least one strength or goal.
                  </div>
                  <div class = "row bottom-buffer">

                    <div class = col-md-10></div>
                    <button type="button" ng-click="updateListing()" class="btn btn-md btn-outline-secondary salmon" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" id="submit">Save</button>

                  </div>



                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row bottom-buffer">
      <div class="col-md-6">
        <div class = "card" >
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button id = "matchesButton" class="btn bold salmon" data-toggle="collapse" data-target="#matchCollapse" aria-expanded="true" aria-controls="collapseOne">
                Potential Mentors <i class="fas fa-chevron-down"></i>
              </button>
            </h5>
          </div>
          <div class = "collapse show in"  id = "matchCollapse" aria-labelledby="headingOne">
            <div class = "card-body" >
              <div class="tableWrapper">
                <table class="table table-hover">
                  <thead class="thead dark">
                    <th>Mentor Name</th>
                    <th>Score</th>
                    <th></th>
                    <th></th>
                  </thead>
                  <tr ng-repeat-start="Match in mentorMatches" class = "showCarot" >
                    <td><button ng-click= "displayProfile($index, Match.profile, mentorString)" class = "btn"data-toggle="collapse"data-target="#mentor-userInfo--{{$index}}">{{Match.profile.name.value}}  <i class="fas fa-chevron-down salmon"></i></button></td>     <td>{{Match.score}}</td>
                    <td><button class="btn btn-sm btn-outline-secondary salmon" ng-click = "contactEmail(Match.profile.email, detailedInfo.name.value, Match.profile.name.value)">Contact</button></td>
                    <td><button class="btn btn-sm btn-outline-secondary salmon" ng-click = "sendEmail(Match.profile.email)">Rate</button></td>
                  </tr>
                  <tr ng-repeat-end class ="collapse" id="mentor-userInfo--{{$index}}">
                    <td colspan=3>
                      <p1 id="mentor-{{$index}}-job"><b>Profession:</b> {{Match.profile.industry.value}}</p1>
                      <p1 id="mentor-{{$index}}-strength1"><b>Mentor Strength</b>: {{Match.profile.mentorStrength1.value}}</p1>
                      <p1 id="mentor-{{$index}}-strength2"><b>Mentor Strength</b>: {{Match.profile.mentorStrength2.value}}</p1>
                      <p1 id="mentor-{{$index}}-strength3"><b>Mentor Strength</b>: {{Match.profile.mentorStrength3.value}}</p1>
                      <p1 id="mentor-{{$index}}-sexualOrientation"><b>Sexual Orientation</b>: {{Match.profile.sexualOrientation.value}}</p1>
                      <p1 id="mentor-{{$index}}-gender"><b>Gender</b>: {{Match.profile.gender.value}}</p1>
                      <p1 id="mentor-{{$index}}-ethnicity"><b>Ethnicity</b>: {{Match.profile.ethnicity.value}}</p1>
                      <p1 id="mentor-{{$index}}-city"><b>City</b>: {{Match.profile.location.city}}</p1>
                      <p1 id="mentor-{{$index}}-bio"><b>Bio</b>: {{Match.profile.bio}}</p1>


                    </td>
                  </tr>


                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class = "card" >
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button id = "matchesButton2" class="btn bold salmon" data-toggle="collapse" data-target="#matchCollapse2" aria-expanded="true" aria-controls="collapseOne">
                Potential Mentees <i class="fas fa-chevron-down"></i>
              </button>
            </h5>
          </div>
          <div class = "collapse show in" id = "matchCollapse2" aria-labelledby="headingOne">
            <div class = "card-body" >
              <div class="tableWrapper">
                <table class="table table-hover">
                  <thead class="thead dark">
                    <th>Mentee Name</th>
                    <th>Score</th>
                    <th></th>
                    <th></th>
                  </thead>
                  <tr ng-repeat-start="Match in menteeMatches" class = "showCarot">
                    <td><button ng-click= "displayProfile($index, Match.profile, menteeString)" class = "btn"data-toggle="collapse"data-target="#mentee-userInfo--{{$index}}">{{Match.profile.name.value}}  <i class="fas fa-chevron-down salmon"></i></button></td>     <td>{{Match.score}}</td>
                    <td><button class="btn btn-sm btn-outline-secondary salmon" ng-click = "contactEmail(Match.profile.email, detailedInfo.name.value, Match.profile.name.value)">Contact</button></td>
                    <td><button class="btn btn-sm btn-outline-secondary salmon" ng-click = "sendEmail(Match.profile.email)">Rate</button></td>
                    <td></td>
                  </tr>
                  <tr ng-repeat-end class ="collapse" id="mentee-userInfo--{{$index}}">
                    <td colspan=3>
                      <p1 id="mentee-{{$index}}-job"><b>Profession:</b> {{Match.profile.industry.value}}</p1>
                      <p1 id="mentee-{{$index}}-goal1"><b>Mentee Goal</b>: {{Match.profile.menteeGoal1.value}}</p1>
                      <p1 id="mentee-{{$index}}-goal2"><b>Mentee Goal</b>: {{Match.profile.menteeGoal2.value}}</p1>
                      <p1 id="mentee-{{$index}}-goal3"><b>Mentee Goal</b>: {{Match.profile.menteeGoal3.value}}</p1>
                      <p1 id="mentee-{{$index}}-sexualOrientation"><b>Sexual Orientation</b>: {{Match.profile.sexualOrientation.value}}</p1>
                      <p1 id="mentee-{{$index}}-gender"><b>Gender</b>: {{Match.profile.gender.value}}</p1>
                      <p1 id="mentee-{{$index}}-ethnicity"><b>Ethnicity</b>: {{Match.profile.ethnicity.value}}</p1>
                      <p1 id="mentee-{{$index}}-city"><b>City</b>: {{Match.profile.location.city}}</p1>
                      <p1 id="mentee-{{$index}}-bio"><b>Bio</b>: {{Match.profile.bio}}</p1>


                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

  <!--Footer-->
  <section id="footer">
    <div class="container">
      <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <h5>About</h5>
          <p>Want to learn tips from an industry pro? Want to help like-minded people accomplish their goals?
           Want to expand your professional network? You can do it all and more with Mentor Match. Mentor Match is a mentorship and advocacy matching service that connects users across industries and backgrounds in order to
         help them learn, grow, and achieve more.</p>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">
          <h5>Quick links</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="#">Home</a></li>
            <li><a href="https://www.ultimatesoftware.com">Ultimate Software</a></li>
            <li><a href="http://www.ufl.edu/">University of Florida</a></li>
            <li><a href="https://github.com/joshjohnson98/MentorMatch">Contribute <i class="fab fa-github"></i></a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">
          <h5>Contributors</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="javascript:void();">Joshua Johnson</a></li>
            <li><a href="javascript:void();">Anthony Lehenbauer</a></li>
            <li><a href="javascript:void();">Alex Blauth</a></li>
            <li><a href="javascript:void();">Anh Hoang</a></li>
          </ul>
        </div>
      </div>
    </section>
    <section id="bottomRow">
      <div class="row" >
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <p>Mentor Match is a project of CEN3031 at the University of Florida</p>
          <p class="h6">Spring 2019</p>
        </div>
      </hr>
    </div>
  </div>
</section>




<script src="js/controllers/formController.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script src="https://code.angularjs.org/1.4.3/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/factories/factory.js"></script>
<script src="js/controllers/controller.js"></script>

</body>
</html>
