<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/main.css">
    <link href="hide-show-fields-form.css" rel="stylesheet"/>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-inverse">
          <h1 id="pageTitle">Mentor Match</h1>
        </nav>
      </div>

      <div class="row bottom-buffer">
        <div class="col-md-12">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Profile
                  </button>
                </h5>
              </div>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                <div class="card-body">
                    <form novalidate class="simple-form">
                        <h2>Edit Profile</h2>
                          <div class = "container">
                            <div class = "row bottom-buffer">
                              <label for="NameInput" class="col-md-2 col-form-label">Name</label>
                              <input type="text" ng-model = "Name" id="NameInput" class="form-control col-md-4" placeholder="Name">
                              
                              
                            </div>
                            <div class = "row bottom-buffer">
                              <!-- Profession selection -->
                                <label for="JobSelect" class="col-md-2 col-form-label">Profession</label>
                                    <select class="form-control col-md-4" id="JobSelect" ng-model="job">
                                      <option>--</option>
                                      <option>Aerospace</option>
                                      <option>Agriculture</option>
                                      <option>Computer</option>
                                      <option>Chemical</option>
                                      <option>Education</option>
                                    </select>
                                
                                <div class = "col-md-1"></div>
                                <!-- refer to this for ng-model for radios
                                  https://docs.angularjs.org/api/ng/input/input%5Bradio%5D -->
                                <div class="form-check form-check-inline " >
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="professionRadio0" value="option0">
                                    <label class="form-check-label" for="professionRadio0"></label>0</label>
                                  </div>
                                  <div class="form-check form-check-inline " >
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="professionRadio1" value="option1">
                                    <label class="form-check-label" for="professionRadio1">1</label>
                                  </div>
                                  <div class="form-check form-check-inline " >
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="professionRadio2" value="option2">
                                    <label class="form-check-label" for="professionRadio2">2</label>
                                  </div>
                                  <div class="form-check form-check-inline " >
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="professionRadio3" value="option2">
                                    <label class="form-check-label" for="professionRadio3">3</label>
                                  </div>
                                  <div class="form-check form-check-inline " >
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="professionRadio4" value="option2">
                                    <label class="form-check-label" for="professionRadio4">4</label>
                                  </div>
                                  <div class="form-check form-check-inline " >
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="professionRadio5" value="option2">
                                    <label class="form-check-label" for="professionRadio5">5</label>
                                  </div>
                              </div>


                              <div class = "row bottom-buffer form-group">
                              
                                  <label for="mentorCheck" class="col-md-2 col-form-label">I want to be a mentor</label>
                                        <select class="form-control col-md-4" id="mentorCheck" ng-model="mentor">
                                          <option value = "no">no</option>
                                          <option value = "yes">yes</option>
                                        </select>
                                

                              </div>

                              <div class = "row bottom-buffer form-group" id="mentorStrength">
                                  <!-- Strengths as a mentor selection -->
                                    <label for="mentorStrength" class="col-md-2 col-form-label">Strengths as a mentor</label>
                                        <select class="form-control col-md-4"  ng-model="strength">
                                          <option >--</option>
                                          <option >Leadership</option>
                                          <option>Public Speaking</option>
                                          <option >Data Structures</option>
                                          <option >Communication</option>
                                          <option >Confidence</option>
                                        </select>
                                    
                                    <div class = "col-md-1"></div>
                                    <!-- refer to this for ng-model for radios
                                      https://docs.angularjs.org/api/ng/input/input%5Bradio%5D -->
                                    <div class="form-check form-check-inline " >
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="professionRadio0" value="option0">
                                        <label class="form-check-label" for="professionRadio0"></label>0</label>
                                      </div>
                                      <div class="form-check form-check-inline " >
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="professionRadio1" value="option1">
                                        <label class="form-check-label" for="professionRadio1">1</label>
                                      </div>
                                      <div class="form-check form-check-inline " >
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="professionRadio2" value="option2">
                                        <label class="form-check-label" for="professionRadio2">2</label>
                                      </div>
                                      <div class="form-check form-check-inline " >
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="professionRadio3" value="option2">
                                        <label class="form-check-label" for="professionRadio3">3</label>
                                      </div>
                                      <div class="form-check form-check-inline " >
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="professionRadio4" value="option2">
                                        <label class="form-check-label" for="professionRadio4">4</label>
                                      </div>
                                      <div class="form-check form-check-inline " >
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="professionRadio5" value="option2">
                                        <label class="form-check-label" for="professionRadio5">5</label>
                                      </div>
                                  </div>





                        </div>
                      </form>
                    </div>
                    
                </div>
              </div>
            </div>   
        </div>
      
            <div class="row">
                <div class="col-md-6">
                    <div class = "card" >
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#matchCollapse" aria-expanded="false" aria-controls="collapseOne">
                                Matches
                              </button>
                            </h5>
                          </div>
                          <div class = "collapse show" id = "matchCollapse" aria-labelledby="headingOne">
                            <div class = "card-body" >
                                This is blank rn
                            </div>
                          </div>
                    </div>
                </div>
        
                <div class="col-md-6">
                    <div class = "card" >
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#savedMatchCollapse" aria-expanded="false" aria-controls="collapseOne">
                                Saved Matches
                              </button>
                            </h5>
                          </div>
                          <div class = "collapse show" id = "savedMatchCollapse" aria-labelledby="headingOne">
                            <div class = "card-body" >
                                This is blank rn
                            </div>
                          </div>
                    </div>
                </div>
        
            </div>

      
      
      
      </div>












    <script src="js/controllers/formController.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="js/login.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/factory.js"></script>
    <script src="js/controllers/controller.js"></script>
  </body>
</html>
