body {
	background: #fff;
	padding: 0px;
	font-family: 'Nunito', sans-serif;
	text-decoration-color: #3caa3d;
	color: #3caa3d;
}

input, button {
	font-family: 'Nunito', sans-serif;
}

h1
{
	text-align: center;
	padding-top: 20px;
	font-size: 40px;
}

h3 {
	padding: 5px;
	margin : 10px;
}

.main-div {
	display:block;
}