#pageTitle {
  color: #2A363B;
  margin-left: 10px;
}

body {
  background-color: #EEEEEE;
}

th {
  background-color: #31444b;
  color: white;
}

.glyphicon-remove-sign {
  color:#990000;
}

#infoArea {
  background-color: #31444b;
  color:white;

}

#addArea h3 {
  color: #222;
}

#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}
.darkBlue {

  color: #2A363B;
}
.salmon {

  color: #e84a5f;
}
.offWhite{
  color: #EEEEEE;
}
.form-check-label{
  font-size: 14px;
  
}
.bottom-buffer{
  margin-bottom: 20px;
}
